[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bee-engine = {editable = true, path = "."}
cython = "*"
numpy = "*"

[dev-packages]
autopep8 = "*"
pdoc = "*"

[requires]
python_version = "3.10"
